html{
    height: 100%;
}
body{
    height: 100%;
}
/************************** login **************************************/
.container_form_login{
    height: 100%;
}
#formulaire_login{
    padding: 15px;
    background-color: #f1f2f3;
}

/************************** mon profil **********************************/
.page_form_profil label{
    margin-top: 10px;
}

/************************** afficher une sortie **********************************/
.tableau_sortie .libelle{
    font-weight: bold;
}

.wrapper {
    overflow:hidden;
    overflow-y: scroll;
    // change this to desired height
    border: 1px solid grey;
    height : 250px;
}
.wrapper_sortie {
    overflow:hidden;
    overflow-y: scroll;
    // change this to desired height
    border: 1px solid grey;
    height : 400px;
}
.wrapper table{
    border-collapse: collapse;
    /*min-height: 250px;*/
}
.wrapper table tr:nth-child(even){background-color: #f2f2f2;}

.wrapper table tr:hover {background-color: #ddd;}

.wrapper table th{
    background-color: lightgrey;
}

.wrapper table, .wrapper th, .wrapper td {
    border: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#map{
    height: 100%;
    min-height: 300px;
}

/************************************* MEDIA QUERIES *****************************/

@media all and (min-width:0px){
    .imageProfil{
        width: 50%;
        height: auto;
    }
}

@media all and (min-width:768px){
    .imageProfil{
        width: 40%;
        height: auto;
    }
}

@media all and (min-width:992px){
    .imageProfil{
        width: 90%;
        height: auto;
    }
    #divMap{
        margin-left: 0.5rem;
    }
}

@media all and (min-width:1200px){
    .imageProfil{
        width: 70%;
        height: auto;
    }
}
