html{
    height: 100%;
}
body{
    height: 100%;
}
/************************** login **************************************/
.container_form_login{
    height: 100%;
}
#formulaire_login{
    padding: 15px;
    background-color: #f1f2f3;
}

/************************** mon profil **********************************/
.page_form_profil label{
    margin-top: 10px;
}

/************************************* MEDIA QUERIES *****************************/

@media all and (min-width:0px){
    .imageProfil{
        width: 50%;
        height: auto;
    }
}

@media all and (min-width:768px){
    .imageProfil{
        width: 40%;
        height: auto;
    }
}

@media all and (min-width:992px){
    .imageProfil{
        width: 90%;
        height: auto;
    }
}

@media all and (min-width:1200px){
    .imageProfil{
        width: 70%;
        height: auto;
    }
}
